.filter-container {
    margin: 0;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.842);
    width: 170px;
    height: 430px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    position: static;
    font-weight: 700;
    display: inline-block;
}

div.filter-input-container {
    display: flex;
    margin-bottom: 20px;
}

div.filter-input-element {
    display: inline-block;
    margin-left: 8px;
    //padding:2px;
}

#filter-min-price {
    width: 50px;
}

#filter-max-price {
    width: 50px;
}

#filter-text {
    width: 120px;
}

#filter-update-button {
    background: black;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 160px;
    font-family: sans-serif;
    font-size: 18px;
}

#filter-update-button:hover {
    background: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}

#results {
    display: flex;
    flex-wrap: wrap;
    margin-left: 230px;
    margin-top: -440px;
}

.result {
    border: 1px solid rgba(218, 218, 218, 0.9);
    border-radius: 6px;
    margin: 10px 10px;
    height: 360px;
    width: 300px;
}

.result-image-container {
    margin: 10px;
    /* padding: 10px; */
}

.result-info-container {
    padding: 10px;
}

.result-image-container img {
    height: 200px;
    width: 280px;
}

.result-title {
    /* //cursor: pointer; */
    color: rgb(230, 100, 2);
    text-decoration: none;
}

.result-title:hover {
    text-decoration: underline;
}

.result-price {
    border: 1px solid rgba(218, 218, 218, 0.9);
    border-radius: 6px;
    background-color: rgba(125, 116, 116, 0.2);
    font-size: 13px;
    padding: 3px;
    margin-right: 200px;
}

.button {
    /* margin-top: -200px; */
    font-family: sans-serif;
}

#button {
    font-family: sans-serif;
    background-color: rgba(149, 125, 125, 0.746);
    font-size: 20;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 2px solid ;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #96ebc0;
}


#input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    border: 2px solid gray;
    margin-top: 20px;
    font-size: 14px;
  }


  body{
    background-image: url(3.jpg);
  }

/* --------------Commodity button part----------------------- */

#sell-something {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    background-color: #e42e73;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.hidden {
    display: none;
}

#modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#sell-something-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
    overflow: scroll;
}

.modal-dialog {
    width: auto;
    max-width: 600px;
    min-width: 350px;
    min-height: 300px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 15px;
}

.modal-header {
    position: relative;
    padding: 10px 20px;
}

.modal-header h3 {
    margin: 0;
    font-size: 28px;
}

#modal-close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.post-input-element {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0;
}

.post-input-element>label {
    font-weight: 600;
    flex: 1 75px;
    margin-right: 10px;
}

.post-input-element input {
    flex: 6 200px;
    padding: 8px;
    font-size: 20px;
    border: 1px solid #aaa;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px 20px 10px;
}

#modal-cancel,
#modal-accept {
    margin-right: 20px;
}

#modal-cancel {
    color: #333;
    background-color: #fff;
}

#modal-cancel:hover {
    background-color: #eee;
}
